<html>

<head>

  <title>Smidgen</title>
  <style>
    table,
    td,
    th {
      border: 1px solid black;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }
  </style>
</head>

<body>
  <div id=jsonTable>
    {{json | safe}}
  </div>
  <div>
    -------------------------JSON.stringify--------------------------
  </div>
  <div id=jsonString>
    {{stringify | safe}}
  </div>
  <pre id=origJson>
      {{origJson}}
  </pre>
  -------------------------Embed----------------------------------
  <div id="embed"></div>
</body>
<form action="{{ url_for("index")}}" method="post">
  <label for="tweet">Tweet:</label>
  <input type="text" id="tweet" name="tweet" placeholder="tweet">
  <button type="submit">Submit</button>
</form>
<div>
  Last pull time: ?
</div>
<script>
  window.twttr = (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function (f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));
</script>
<script id="twitter-wjs" type="text/javascript" async defer src="//platform.twitter.com/widgets.js"></script>
<script src="js/app.js"></script>
</body>

</html>